.btn-sm {
    font-size: 1rem;
    padding: 8px 56px;
    color: white;
    background-color: #6A512E;
    border-top: 5px solid #7D6133;
    border-right: 5px solid #7D6133;
    border-bottom: 5px solid #4F3D22;
    border-left: 5px solid #4F3D22;
}
.btn-sm:hover {
    background-color: #886432;
    border-top: 5px solid #967036;
    border-right: 5px solid #967036;
    border-bottom: 5px solid #664B25;
    border-left: 5px solid #664B25;
    cursor: pointer;
}
.btn-sm:active {
    background-color: #664B25;
    border-top: 5px solid #584223;
    border-right: 5px solid #584223;
    border-bottom: 5px solid #6D5636;
    border-left: 5px solid #6D5636;
    cursor: pointer;
}

.alert {
    
    border: 5px solid red;
    background-color: 5px solid lightcoral;
}